/* Styles for Carson's Stuffed Animals Page */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    
}


/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    color: black;
}

h1 {
    display: table;               
    margin: 20px auto;              /* centers horizontally, adds top/bottom spacing */
    padding: 5px 30px;              /* space inside border */
    border: 3px solid black;      /* border around text */
    background-color: lightblue;  /* background color inside border */
    text-align: left;               /* text left-aligned inside h1 */
    font-family: Arial, sans-serif;
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* allows images to go to the next line */
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    width: 200px;
}

figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

/* StyleLinks under Images (i.e without figcaptions) */

figure a {
    display:block;
    margin-top: 8px;
    font-weight:bold;
    color: blue;
    text-decoration: none;
}